{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": [
    "airbnb/base"
  ],
  "parser": "babel-eslint",
	"rules": {
    "indent": [2, 2, {
      "SwitchCase": 1,
      "VariableDeclarator": { "let": 1, "const": 1 }
    }],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "always"
    }],
		"comma-dangle": ["error", "never"],
		"no-use-before-define": [2, "nofunc"],
    "arrow-body-style": 0,
    "arrow-parens": [2, "as-needed"],
    "no-confusing-arrow": 0,
    "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
    "no-unused-expressions": 0,
	}
}
