extends base

block content
    .container
        h1 Login Page
        p.lead Enter your credentials
        br
        form(role='form', action='/api/core/login', method='post', style='max-width: 300px')
            .form-group
                input.form-control(type='text', name="username", placeholder='Enter Username')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            button.btn.btn-default(type='submit') Submit
            &nbsp;
            a(href='/api/core')
                button.btn.btn-primary(type='button') Cancel
            &nbsp;
            a(href='/api/core/register')
                button.btn.btn-primary(type='button') Register

