extends ./base

block content
    if (!locals.user)
        .container
            .row
                .col-xs-12
                    h1 Welcome
            .row
                .col-xs-12
                    p.lead Click the choice you want
                    a(href='/api/core/login')
                        button.btn.btn-primary Login
                    &nbsp;
                    a(href='/api/core/register')
                        button.btn.btn-success Register
    else
        .container
            .row
                .col-xs-12
                    h1 Oops!
                    p Can not find user
                    p You shoud not see this message

