extends ../base

block content
    .container
        .row
            .col-md-6.col-xs-12
                h1 Update User Password
                form(role='form', action='/api/core/user/#{ user._id }/password', method='post')
                    .form-group
                        input.form-control(type='password', name="password", placeholder='Your actual password')
                    .form-group
                        input.form-control(type='password', name="newPassword", placeholder='Enter your new password')
                    .form-group
                        input.form-control(type='password', name="confirmPassword", placeholder='Confirm your new password')
                    button.btn.btn-primary(type='submit') Submit
                    &nbsp;
                    a(href='/api/core/user/#{ user._id }/info')
                        button.btn.btn-default(type='button') Cancel

